Checks: >
  bugprone-*,
  modernize-*,
  readability-*,
  performance-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-braces-around-statements,
  -modernize-use-trailing-return-type,
  -modernize-avoid-c-arrays,
  -readability-uppercase-literal-suffix,
  -readability-convert-member-functions-to-static,
  -readability-simplify-boolean-expr,
  -bugprone-easily-swappable-parameters,
  -readability-identifier-naming,
  -readability-non-const-parameter,
  -readability-implicit-bool-conversion,
  -bugprone-branch-clone,
  -readability-make-member-function-const,
  -readability-isolate-declaration,
  -readability-function-cognitive-complexity,
  -modernize-use-default-member-init,
  -performance-trivially-destructible,
  -modernize-use-equals-default
HeaderFilterRegex: '.*spotlight-renderer/src/.*'
WarningsAsErrors: ''
